<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="false">
    </compilation>
    <authentication mode="Windows" />
  </system.web>
  
  <location path="assets/css">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="604800" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="assets/font">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="604800" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="assets/js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="private" />
      </staticContent>
    </system.webServer>
  </location>  
  <location path="assets/libs/materialize/css">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="assets/libs/materialize/font">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="assets/libs/materialize/js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="assets/libs/owl-carousel">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="assets/libs/sweetalert">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="/images">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>
